@(message: String)

@main("Welcome to Play") {


<div class="topbar"> SUDHARSHAN RAJENDHIRAN </div>
<!--
    <div class="side-nav">
        <ul>
        <li>
            Projects</li>
        <li>
            Articles</li></ul>
        </div>
-->
<div class="contentframe">
<div class="content">
<h1>Hello How are you</h1> 
    <p>
In August I was given the amazing opportunity to join Buffer as a front-end developer. At that time I was living in Taipei teaching English. Buffer is a distributed company so I whilst I coded for them I was able to continue teaching.
</p><p>
At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.</p>
<img src="http://media-cache-ec0.pinimg.com/736x/ce/bb/0a/cebb0a8eddeff340f98aec9b2f0535c7.jpg" />
At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.
<br/>


In August I was given the amazing opportunity to join Buffer as a front-end developer. At that time I was living in Taipei teaching English. Buffer is a distributed company so I whilst I coded for them I was able to continue teaching.

At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.
<br/>

In August I was given the amazing opportunity to join Buffer as a front-end developer. At that time I was living in Taipei teaching English. Buffer is a distributed company so I whilst I coded for them I was able to continue teaching.
<br/>
At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.
<br/>

In August I was given the amazing opportunity to join Buffer as a front-end developer. At that time I was living in Taipei teaching English. Buffer is a distributed company so I whilst I coded for them I was able to continue teaching.
<br/>
At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.
<br/>

In August I was given the amazing opportunity to join Buffer as a front-end developer. At that time I was living in Taipei teaching English. Buffer is a distributed company so I whilst I coded for them I was able to continue teaching.
<br/>
At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.
<br/>

In August I was given the amazing opportunity to join Buffer as a front-end developer. At that time I was living in Taipei teaching English. Buffer is a distributed company so I whilst I coded for them I was able to continue teaching.
<br/>
At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.
<br/>

In August I was given the amazing opportunity to join Buffer as a front-end developer. At that time I was living in Taipei teaching English. Buffer is a distributed company so I whilst I coded for them I was able to continue teaching.
<br/>
At the end of October I left my teaching job, because I just couldn’t do both jobs for much longer. It left me exhausted with no time for side-projects. With quitting the teaching job, my girlfriend and I couldn’t stay in Taiwan anymore due to work visas, so, we planned a two month South East Asia trip back home to South Africa.
<br/>
</div>
    </div>

}
